body {
    margin: 10px;
}
header {
    background-color: aqua;
    margin: 0;
    padding: 0;
    border:0;
}

.logo {
    width: 15%;
    height: 15%;
}

.pattern {
    width: 15%;
    height: 15%;
    background-repeat: repeat;
}

span {
    display: block;
}

.title {
    font-size: 30px;
    display: block;
    margin-top: 10px;
}

div {
    display: block;
}

.lightbold {
    color: grey;
}

.hypertext {
    color: rgb(57, 93, 211);
    display: inline-block;
}

.tim {
    margin-top: 15px;
}

.evid {
    background-color: yellow;
}

.spazio {
    width: 30%;
}

.spazio1 {
    width: 30%;
}
.riga {
    background-color: aqua;
}

.riga1 {
    background-color: aquamarine;
}
