body {
    margin: 10px;
}
header {
    background-color: aqua;

}

.logo {
    width: 15%;
    height: 15%;
}

.pattern {
    width: 15%;
    height: 15%;
    background-repeat: repeat;
}

span {
    display: block;
}

.evid {
    background-color: yellow;
}

.spazio {
    width: 30%;
}

.spazio1 {
    width: 30%;
}
.riga {
    background-color: aqua;
}

.riga1 {
    background-color: aquamarine;
}